/* Colors */
$primary: #6cc757;
$secondary: #449241;
$thirsty: #edeb6f;
$whiteColor: #fafffb;
$blackColor: #252d25;
$grayColor: #f3f7f3;
$grayColor2: #dfe9dc;

/* Sizes */
$padding: 20px;
$margin: 20px;
$radius: .2rem;

/* Breakpoints */
$phone: 320px;
$smartphone: 420px;
$tablet: 768px;
$landescape: 992px;
$suppDesktop: 1280px;
$desktop: 1600px;
$fullDesktop: 1920px;