.footer_container {
    width: 100%;
    height: max-content;
    background-color: $secondary;
}

.footer_content {
    max-width: $suppDesktop;
    margin: 0 auto;
    padding: $padding;
    height: max-content;

    &-invita {
        & > h3 {
            margin-bottom: calc($margin / 2);
            font-size: 1rem;
            color: $whiteColor;
        }
        & > figure {
            width: 100%;
            max-width: 180px;

        }
        & > figure:first-child {
            margin-bottom: 10px;
        }
    }
}