.footer_container {
    width: 100%;
    height: max-content;
    background-color: $secondary;
}

.footer_content {
    max-width: $suppDesktop;
    height: max-content;

    &-invita {
        & > figure {
            width: 100%;
            max-width: 200px;
        }
    }
}