.footer_container {
    width: 100%;
    height: max-content;
    background-color: $secondary;
}

.footer_content {
    max-width: $tablet;
    margin: 0 auto;
    padding: $padding;
    height: max-content;

    &-invita, &-apoya {
        & > h3 {
            margin-bottom: calc($margin / 2);
            font-size: 1rem;
            color: $whiteColor;
        }
        & > div {
            @include flex-center;
            justify-content: space-evenly;
            & > a {
                & > figure {
                    width: 100%;
                    max-width: 180px;       
                }
            }
        }
    }

    &-apoya {
        margin-top: $margin;
    }

    &-info {
        max-width: 30%;
        @include flex-center;
        justify-content: center;
        padding: $padding 0 0 0;
        flex-wrap: wrap;
        & > p {
            width: max-content;
        }
        & > p:first-child {
            color: $thirsty;
            font-weight: bold;
            margin-right: 5px;
        }

        & > p:last-child {
            color: $whiteColor;
            font-weight: bold;
        }

        & > a {
            background-color: rgba($color: $grayColor2, $alpha: .9);
            color: rgb(24, 78, 148);
            font-weight: 700;
            padding: $padding / 3;
            margin: 5px calc($margin / 2);
            border-radius: $radius;
        }
    }
}

@media screen and(max-width: 620px) {
    .footer_content { 
        &-invita, &-apoya {
            & > div {
                @include flex_center-column;
                align-items: center;
                & > a {
                    & > figure {
                        width: 100%;
                        max-width: 140px;
                        margin-bottom: 10px;      
                    }
                }
            }
        }
    
        &-apoya {
            margin-top: $margin;
        }
    }
}