.footer_container {
    width: 100%;
    height: max-content;
    background-color: $secondary;
}

.footer_content {
    max-width: $tablet;
    margin: 0 auto;
    padding: $padding;
    height: max-content;

    &-invita, &-apoya {
        & > h3 {
            margin-bottom: calc($margin / 2);
            font-size: 1rem;
            color: $whiteColor;
        }
        & > div {
            @include flex-center;
            justify-content: space-between;
            & > a {
                & > figure {
                    width: 100%;
                    max-width: 180px;       
                }
            }
        }
    }
}