@mixin flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex_center_between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

%background-gradient {
    background: rgb(12,99,65);
    background: linear-gradient(82deg, rgba(12,99,65,1) 21%, rgba(0,163,82,1) 77%);
}